# Consulta de base de datos 
### Pandas - Sqlite

In [6]:
import pandas as pd
import sqlite3

In [7]:

connection = sqlite3.connect("data/instituciones.db")
connection.text_factory = str
result = pd.read_sql_query("SELECT * from educativas", connection)

In [8]:
result

,Provincia,Canton,Parroquia,Femenino,Masculino,Textbox17,Textbox6,Textbox7,Textbox18
0,AZUAY,CAMILO PONCE ENRIQUEZ,CAMILO PONCE ENRIQUEZ,"2,294","2,096","4,390","1,945,017","1,767,520","3,712,537"
1,AZUAY,CAMILO PONCE ENRIQUEZ,EL CARMEN DEL PIJILI,215,173,388,"1,945,017","1,767,520","3,712,537"
2,AZUAY,CHORDELEG,CHORDELEG,"1,183","1,109","2,292","1,945,017","1,767,520","3,712,537"
3,AZUAY,CHORDELEG,LA UNION,134,128,262,"1,945,017","1,767,520","3,712,537"
4,AZUAY,CHORDELEG,LUIS GALARZA ORELLANA,156,155,311,"1,945,017","1,767,520","3,712,537"
...,...,...,...,...,...,...,...,...,...
2401,ZAMORA CHINCHIPE,ZAMORA,IMBANA (LA VICTORIA DE IMBANA),196,144,340,"1,945,017","1,767,520","3,712,537"
2402,ZAMORA CHINCHIPE,ZAMORA,SABANILLA,68,59,127,"1,945,017","1,767,520","3,712,537"
2403,ZAMORA CHINCHIPE,ZAMORA,SAN CARLOS DE LAS MINAS,298,287,585,"1,945,017","1,767,520","3,712,537"
2404,ZAMORA CHINCHIPE,ZAMORA,TIMBARA,214,188,402,"1,945,017","1,767,520","3,712,537"
2405,ZAMORA CHINCHIPE,ZAMORA,ZAMORA,"3,352","3,625","6,977","1,945,017","1,767,520","3,712,537"